{% include "header.html" %}
{% load static %}
<!-- Story Start -->
<div class="container-fluid story position-relative py-5" id="weddingStory">
    <div class="position-absolute" style="top: -35px; right: 0;">
        <img src="static/img/tamp-bg-1.png" class="img-fluid" alt="">
    </div>
    <div class="position-absolute" style="top: -15px; left: 0; transform: rotate(150deg);">
        <img src="static/img/tamp-bg-1.png" class="img-fluid" alt="">
    </div>
    <div class="container position-relative py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-uppercase text-primary fw-bold mb-4">Story</h5>
            <h1 class="display-4">Our Love Story</h1>
        </div>
        <div class="story-timeline">
            <div class="row wow fadeInUp" data-wow-delay="0.2s">
                <div class="col-md-6 text-end border-0 border-top border-end border-secondary p-4">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="static/img/story-1.jpg" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
                <div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="mb-2 text-dark">First Meet</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">07 Jan 2025</p>
                        <p class="m-0 fs-5">The story of Anjali and Aman’s first meeting is the beginning of their wonderful journey together. Their paths crossed on a day that seemed ordinary, but it quickly became magical as they discovered a warm connection and shared laughter during their very first conversation. From that moment, friendship blossomed into love, and as time passed, every small moment together built the foundation for the beautiful relationship they now cherish, making their first meeting an unforgettable chapter in their love story</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="text-dark mb-2">First Date</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">07 Feb 2025</p>
                        <p class="m-0 fs-5">Anjali and Aman’s first date was a blend of excitement, nervous smiles, and heartfelt conversation that set the tone for their journey ahead. Over shared coffee and laughter, they quickly realized how effortlessly time passed in each other’s company. That simple, special day became the start of many memories, marking the beginning of a beautiful love story built on connection, understanding, and joy.</p>
                    </div>
                </div>
                <div class="col-md-6 border-start border-top border-secondary p-4">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="static/img/story-2.jpg" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="static/img/story-3.jpg" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
                <div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="text-dark mb-2">Proposal</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">07 Mar 2025</p>
                        <p class="m-0 fs-5">The proposal was a moment straight out of a fairytale for Anjali and Aman. Surrounded by the warmth of their favorite place, Aman expressed his love with heartfelt words, making Anjali feel truly cherished and special. With happy tears and joyful laughter, they embraced the promise of forever together, turning an ordinary day into one of the most unforgettable chapters of their story.</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-md-6 text-end border border-start-0 border-secondary p-4 ps-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="text-dark mb-2">Enagagement</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">07 May 2025</p>
                        <p class="m-0 fs-5">Anjali and Aman’s engagement was a day filled with excitement, happiness, and heartfelt promises. Surrounded by loved ones, they exchanged rings and celebrated the beautiful bond they share, marking the beginning of their forever together. Every smile, embrace, and joyful tear made their engagement a cherished memory, forever close to their hearts.</p>
                    </div>
                </div>
                <div class="col-md-6 border border-end-0 border-secondary p-4">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="static/img/story-4.jpg" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Story End -->
{% include "footer.html" %}